doctype html
head
  style 
    include food.css
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
.big-container
  .Ist-container.d-flex.flex-row 
    div
      img.cap-image(src='https://img.freepik.com/free-photo/sweet-croissants-with-berries_144627-6654.jpg?w=1060&t=st=1670353986~exp=1670354586~hmac=032e2a8608fffe4e2f38879981b9e8644bcc11259c2deb6992dcbb26b2f7a733')
    .cap-text.d-flex.flex-column.justify-content-center
      h1 Croissant
      button.btn.btn-primary Add to cart
      p.para &pound;2.99
  .Ist-container.d-flex.flex-row
    div
      img.cap-image(src='https://img.freepik.com/premium-photo/sandwich-with-ham-cheese-tomatoes-lettuce-chicken-meat-toasted-bread-old-wooden-table-with-copy-space-text_249006-7447.jpg?w=1060')
    .cap-text.d-flex.flex-column
      h1 Sandwich
      button.btn.btn-primary Add to cart
      p.para &pound;2.49
