doctype html
head
  style 
    include hotdrinks.css
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
.big-container
  .Ist-container.d-flex.flex-row
    div
      img.cap-image(src='https://img.freepik.com/free-photo/cup-coffee-with-heart-drawn-foam_1286-70.jpg?1&w=996&t=st=1670351003~exp=1670351603~hmac=0b79ae1d65ebb20c7f4cbb722774d03357dd882adc72e75c0f961aea7240fd8b')
    .cap-text.d-flex.flex-column
      h1 Cappuccino
      button.btn.btn-primary Add to cart
      p.para &pound;2.99
  .Ist-container.d-flex.flex-row
    div
      img.cap-image(src='https://img.freepik.com/premium-photo/tasty-americano-coffee-cup-with-coffee-beans_1220-5867.jpg?w=1060')
    .cap-text.d-flex.flex-column
      h1 Americano
      button.btn.btn-primary Add to cart
      p.para &pound;2.49
  .Ist-container.d-flex.flex-row
    div
      img.cap-image(src='https://img.freepik.com/free-photo/closeup-classic-fresh-espresso-served-dark-surface_1220-5375.jpg?w=1060&t=st=1670352239~exp=1670352839~hmac=66f9d2caaaa7917df26f90a4f1daffd2aa7ba1b5a0ad08d74754c6808ab39336')
    .cap-text.d-flex.flex-column
      h1 Espresso
      button.btn.btn-primary Add to cart
      p.para &pound;1.99
     
     
